#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#description {
    margin-top: 10em;
    margin-left: 10em;
    letter-spacing: 0;
}

#description .descriptor {
    font-family: "Abril Fatface", cursive;
    font-size: 6em;
}

#vertical-hero {
    overflow-x: hidden;
}

#vertical-hero img {
    display: block;
    pointer-events: none;
}

.cta {
    margin-top: 3em;
}