@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Robot", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

#root {
    position: relative;
}