{% extends "template.html" %}

{% block styles %}
<link rel="stylesheet" href="/styles/about.css">
{% endblock %}

{% block content %}
<div id="vertical-hero"></div>
<section id="text">
    <span id="title">Made with love.<span id="heart"></span></span>
    <p class="body">We are a multi-generational, cross-cultural, multi-hyphenated, always imitated and never replicated, family-owned, Pilsbury Dough Boy-approved establishment.</p>
    <p class="body">Sometimes our rolls are a week old; sometimes they’re made the day of. No matter when you come in, it’s always a gamble, and that’s why people love us. If you’re feeling extra adventurous, make sure you also try our milk. What kind of milk, you ask? Come taste it and find out for yourself!</p>
</section>
{% endblock %}