@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Source+Serif+Pro:ital,wght@0,300;0,600;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFEDDD;
    font-family: "Source Serif Pro", serif;
    color: #693712;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-top: 80px;
    display: grid;
    grid-template-areas: ". num-legs ."
                         "gait-menu doggo playback-speed-menu"
                         ". footfall-viz ."
                         "footer footer footer";
    align-items: start;
}

header {
    display: flex;
    flex-direction: column;
    font-family: "Questrial", sans-serif;
    font-size: 2rem;
    color: #C58353;
}

.num-legs {
    grid-area: num-legs;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.gait-menu {
    grid-area: gait-menu;
    font-weight: 300;
    font-size: 1.2rem;
}

.gait-types {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 2rem;
    justify-content: end; 
    border: 0;
    outline: 0;
    padding: 0;
}

.gait-types .gait + .touchable {
    position: relative;
    cursor: pointer;
    width: min-content;
    color: #CAB8AB;
    transition: color 0.3s ease;
}

.gait-types .gait + .touchable::after {
    display: block;
    content: attr(data-hidden);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.gait-types .gait:checked + .touchable {
    color: #693712;
    font-weight: 600;
    transition: color 0.3s ease;
}

.gait-types .gait + .touchable::before {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-color: #693712;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s cubic-bezier(.75,.03,.22,.99);
}

.gait-types .gait:checked + .touchable::before {
    transform: scaleX(1);
    transition: transform 0.3s cubic-bezier(.75,.03,.22,.99);
}

.doggo {
    grid-area: doggo;
    align-self: center;
    justify-self: center;
}

.playback-speed-menu {
    grid-area: playback-speed-menu;
    font-family: "Questrial", sans-serif;
}

.playback-speed-menu legend {
    text-align: left;
}

.playback-speed-menu .speeds {
    margin-top: 20px;
    display: grid;
    row-gap: 1rem;
    outline: 0;
    border: 0;
    padding: 0;
}

.playback-speed-menu .speeds .playback-speed + .touchable {
    width: min-content;
    color: #CAB8AB;
    transition: color 0.3s ease;
    cursor: pointer;
}

.playback-speed-menu .speeds .playback-speed:checked + .touchable {
    color: #693712;
}

.footfall-viz {
    padding-top: 20px;
    grid-area: footfall-viz;
    display: grid;
    grid-template-areas: "left-hind left-label left-fore"
                         "right-hind right-label right-fore";
    justify-self: center;
}

footer {
    grid-area: footer;
    margin-top: 80px;
    text-align: right;
}

footer .inspo {
    grid-area: inspo;
}

footer .inspo .video-link { 
    color: #693712;
}

@media screen and (max-width: 812px) and (orientation: landscape) {
    .container {
        max-width: 750px;
    }

    .gait-types {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1rem;
        justify-content: start;
    }

    .playback-speed-menu legend {
        text-align: right;
    }

    .playback-speed-menu .speeds {
        justify-content: end;
        justify-items: end;
        font-size: 1rem;
    }
}

@media screen and (max-width: 667px) and (orientation: landscape), (max-width: 540px) and (orientation: portrait) {
    .container {
        max-width: 500px;
    }

    header {
        font-size: 1rem;
    }

    .content {
        margin-top: 20px;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .num-legs {
        font-size: 1rem;
    }

    .gait-types {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1rem;
        justify-content: start;
    }

    .gait-types .touchable {
        font-size: 1rem;
    }

    .playback-speed-menu legend {
        text-align: right;
    }

    .playback-speed-menu .speeds {
        justify-content: end;
        justify-items: end;
        font-size: 1rem;
    }
}

@media screen and (max-width: 414px) {
    .container {
        max-width: 300px;
        margin: 20px auto;
    }

    .content {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: "num-legs"
                             "gait-menu"
                             "doggo"
                             "footfall-viz"
                             "playback-speed-menu"
                             "footer"
    }

    header {
        font-size: 1rem;
    }
    
    .num-legs {
        text-align: left;
        font-size: 1.5rem;
    }

    .gait-menu {
        margin-top: 20px;
        height: 30px;
        overflow-x: scroll;
        overflow-y: visible;
    }

    .gait-types {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
    }

    .gait-menu .gait + .touchable {
        margin-right: 30px;
    }

    .gait-menu .gait + .touchable::before {
        transform-origin: center;
    }

    .doggo #illustration {
        width: 100%;
    }

    .playback-speed-menu {
        padding-top: 20px;
    }

    .playback-speed-menu legend {
        text-align: left;
    }

    .playback-speed-menu .speeds {
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
    }

    footer {
        margin-top: 40px;
        text-align: center;
    }
}